<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MAKE MUSIC WORK</title>
  <link href="https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Teko:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css"> 
</head> <body>
  <div id="navbar">
    <div class="logo-container">
     <img class="logo" src="https://bucket-c6sv48.s3.us-east-1.amazonaws.com/Kathi's%20Website/Logo1[1].PNG" alt="Band Logo" >
    </div>
    <ul class="nav-links">
      <li><a href="#intro">Intro</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>

  <section id="hero">
    <div class="slideshow">
      <div class="slide img1 active"></div>
      <div class="slide img2"></div>
      <div class="slide img3"></div>
      <div class="overlay-text-group">
        <div class="overlay-logo-container">
          <img class="overlay-logo" src="https://bucket-c6sv48.s3.us-east-1.amazonaws.com/Kathi's%20Website/Logo1[1].PNG" alt="Band Logo">
        </div>
        <h1 class="overlay-brand">FOX ARTIST MANAGEMENT</h1>
        <h2 class="overlay-slogan">MAKE MUSIC WORK</h2>
      </div>
    </div>
  </section>

<!-- Intro Section --> 
  <section id="intro" class="intro-section">
    <div class="intro-container">

      <div class="intro-image">
        <img src="https://bucket-c6sv48.s3.us-east-1.amazonaws.com/Kathi's%20Website/Logo1[1].PNG" alt="logointro">
      </div>


      <div class="intro-text">
        <h2>Introduction</h2>
        <p><strong>FoxArtistManagement</strong> ist ein Künstlermanagement speziell für aufstrebende DIY-Bands aus dem Rock-, Metal- und Punkbereich in und um München.</p>
        <p>In Musik steckt viel Arbeit – und oft wenig Zeit für alles drumherum. Genau da komme ich ins Spiel: Damit ihr euch wieder voll auf eure Songs, Gigs und kreative Energie konzentrieren könnt, übernehme ich den organisatorischen Part.</p>
        <p>Ob Booking, Social Media oder Releaseplanung samt Marketing – ich setze dort an, wo ihr gerade am dringendsten Unterstützung braucht und schneide mein Wertangebot auf euch zu. Wichtig hierbei: Was ihr braucht, bestimmt ihr. Ich arbeite für euch, nicht umgekehrt.</p>
        <p>Mein Ziel ist es, Bands zu unterstützen, die für ihre Musik brennen und hier keine Kompromisse eingehen wollen. Ich möchte euch dabei helfen, aus eurem teuren, semi-professionellen Hobby eine Einnahmequelle zu machen, die mehr als Touren und Equipment finanzieren kann.</p>
      </div>
    </div>
  </section> 
<!-- Services Section --> 
  <section id="services"> 
    <h2>Services</h2> 
    <div class="services-section">
      <p class="subheading">Im Großen und Ganzen lässt sich mein Wertangebot für euch in 3 Kategorien unterteilen:</p>

      <div class="services-grid">
        
        <div class="services-card card-consulting">
          <div class="card-content">
            <div class="card-text">
              <h3>Band-Consulting</h3>
              <p>Ihr habt Fragen zu GEMA, Spotify oder dem nächsten Karriereschritt? Dann seid ihr bei mir genau richtig.</p>
              <p>Viele Bands möchten sich am liebsten ausschließlich mit ihrer Musik beschäftigen – verständlich. Es fehlt deshalb oft das nötige Hintergrundwissen darüber, wie die Musikindustrie überhaupt funktioniert und was es zu beachten gibt. Für ein Stück finanziellen Erfolg ist dieses Wissen jedoch notwendig. In meinen Beratungsgesprächen bekommt ihr Antworten auf genau die Fragen, die euch gerade beschäftigen. Ohne Fachchinesisch, direkt auf eure Situation zugeschnitten.</p>
            </div>
            <div class="card-images">
              <img src="https://bucket-c6sv48.s3.us-east-1.amazonaws.com/Kathi's%20Website/IMG_9166.jpg" alt="Consulting 1" class="main-img">
              <img src="https://bucket-c6sv48.s3.us-east-1.amazonaws.com/Kathi's%20Website/IMG_9111_1.jpg" alt="Consulting 2" class="overlay-img">
            </div>
          </div>
        </div>

        <div class="services-card card-branding reverse">
          <div class="card-content">
            <div class="card-images">
              <img src="https://bucket-c6sv48.s3.us-east-1.amazonaws.com/Kathi's%20Website/Label%20Artist%20Branding.jpg" alt="Branding 1" class="main-img">
              <img src="https://bucket-c6sv48.s3.us-east-1.amazonaws.com/Kathi's%20Website/IMG_9144_1.jpg" alt="Branding 2" class="overlay-img">
            </div>
            <div class="card-text">
              <h3>Band-Branding</h3>
              <p>Ihr habt eine klare Vision von eurer Band, wisst aber nicht, wie ihr sie nach außen sichtbar macht? Ihr habt eine Message, aber erreicht (noch) nicht die Leute, die ihr ansprechen wollt?</p>
              <p>Ich helfe euch dabei, eure Identität als Band sichtbar zu machen – mit gezieltem Branding, klarer Strategie und Tools wie Marketingplänen, Press-Kits oder einem Markenhandbuch. So werdet ihr für Veranstalter*innen, Medien und neue Fans greifbar – statt im Überangebot unterzugehen. Es ist wichtig, als Band genau zu wissen, wer man ist und dies auch nach außen kommunizieren zu können.</p>
            </div>
          </div>
        </div>


        <div class="services-card card-management">
          <div class="card-content">
            <div class="card-text">
              <h3>Band-Management</h3>
              <p>Einer der nervigsten Teile des Bandalltags ist oft der organisatorische Kram: Booking-Anfragen schreiben und beantworten, Tech-Rider zusammenstellen, mit Venues kommunizieren, Helfer organisieren, Social Media aktuell halten, und so weiter...</p>
              <p>Wenn ihr merkt, dass euch das alles zu viel Zeit und Energie raubt, helfe ich euch gerne. Ob punktuell oder laufend – ich bin die helfende Hand im Hintergrund, die euch entlastet und euch wieder mehr Zeit für das Wesentliche verschafft: eure Musik.</p>
            </div>
            <div class="card-images">
              <img src="https://bucket-c6sv48.s3.us-east-1.amazonaws.com/Kathi's%20Website/IMG_9186.jpg" alt="Management 1" class="main-img">
              <img src="https://bucket-c6sv48.s3.us-east-1.amazonaws.com/Kathi's%20Website/IMG_9131_1.jpg" alt="Management 2" class="overlay-img">
            </div>
          </div>
        </div>

      </div>
    </div>
  </section> 

<!-- About Section --> 
  <section id="about" class="about-section">
    <div class="about-container">

      <div class="about-text">
        <h2>About</h2> 
        <p class="subheading">Aber wer bin ich eigentlich?</p>
        <p class="about-text">Ich heiße Kaddii, 23 Jahre alt, Jungspund mit Herz für Musik – und für die Menschen dahinter.</p>
        <p class="about-text">Alles begann mit einer Iron-Maiden-Platte aus Papas Sammlung – seitdem hat mich die Musik nicht mehr losgelassen. Besonders die Rock- und Metal-Genres haben es mir angetan. Ob als Frontfrau meiner ersten Band oder hinter der Bühne bei Events, bereits während der Schulzeit hat das musikalische Wirken meine Freizeit vollständig eingenommen.</p>
        <p class="about-text">Nach einem Abstecher ins Wirtschaftsingenieurwesen (inkl. Japan-Auslandssemester) habe ich gemerkt: Organisation ja – aber nur im Musikbereich. Deshalb studiere ich heute <strong>Music Business am SAE Institut</strong> in München, wodurch Musik endlich nicht nur meine Freizeit, sondern mein ganzes Leben dominiert. Wenn ich nicht gerade im Uni-Tonstudio bin, um bei Projekten der Studierenden mitzuwirken, kann man mich auch häufig im Backstage antreffen oder auf der Bühne bei einem Musical-Projekt sehen. Wenn Musik im Spiel ist, bin ich immer am Start.</p>
        <p class="about-text">Ich freue mich, euch kennenzulernen – let's make your music work!</p>
      </div>
 
      <div class="about-images">
        <img src="https://bucket-c6sv48.s3.us-east-1.amazonaws.com/Kathi's%20Website/IMG_9095.jpg" alt="Photo 1">
        <img src="https://bucket-c6sv48.s3.us-east-1.amazonaws.com/Kathi's%20Website/IMG_9042.jpg" alt="Photo 2">
      </div>
    </div>
  </section>
<!-- Contact Section --> 
  <section id="contact" class="contact-section"> 
    <div class="contact-container">

      <div class"contact-text">
        <h2>Contact</h2>
        <p class="subheading">Neugierig geworden und jetzt?</p>
        <p class="contact-text">Wenn ihr wissen wollt, was das Ganze kostet oder wie das konkret abläuft – schreibt mir einfach. Wir machen ein kostenloses Kennenlerngespräch aus (egal wie lang’s dauert). Persönlich, entspannt bei einem Kaffee, oder online – wie’s euch lieber ist. Ich freu mich auf euch!</p>
      </div>
    </div>

   <h3>Get In Touch</h3> 
    <form id="contact-form">
      <div class="form-group">
        <input type="text" name="name" placeholder="Your name" required /> 
        <input type="email" placeholder="Your email" required />
      </div>
      <textarea name="message" placeholder="Your message" required></textarea> 
      <button type="submit">Send Message</button>
    </form> 
  </section>
<script src="/script.js"></script>

  <footer class="site-footer">
    <p>&copy; 2025 FoxArtistManagement. All rights reserved.</p>
  </footer>
</body>
</html>
